{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block content %}
        <!--begin::Login-->
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url({% static 'assets/media/bg/bg-3.jpg' %});">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="{% static 'assets/media/logos/logo-letter-13.png' %}" class="max-h-75px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <div class="container">
                        {% for error in form.errors.birth_date %}
                        <div class="alert border-0 alert-dismissible fade show py-2">
                            <div class="d-flex align-items-center">
                                <div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0 text-white">Ошибка!</h6>
                                    <div class="text-white">{{ error }}</div>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% for error in form.errors.email %}
                        <div class="alert border-0 alert-dismissible fade show py-2">
                                <div class="d-flex align-items-center">
                                    <div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 text-white">Ошибка!</h6>
                                        <div class="text-white">{{ error }}</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {% for error in form.errors.username %}
                        <div class="alert border-0 alert-dismissible fade show py-2">
                            <div class="d-flex align-items-center">
                                <div class="font-35 text-white"><i class="bx bxs-message-square-x"></i>
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0 text-white">Ошибка!</h6>
                                    <div class="text-white">{{ error }}</div>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    <!--begin::Login Sign up form-->
                    <div class="login-signup">
                        <div class="mb-20">
                            <h3>Добавление нового сотрудника</h3>
                            <div class="text-muted font-weight-bold">Заполните все необходимые поля</div>
                        </div>
                        <form class="form" method="post" action="{% url 'employee_create' %}">
                            {% csrf_token %}
                            <div class="form-group mb-5">
                                {% crispy_field form.user 'class' 'form-control' 'type' 'username' 'placeholder' 'Пользователь' %}
                            </div>
                            <div class="form-group mb-5">
                                {% crispy_field form.last_name 'class' 'form-control h-auto form-control-solid py-4 px-8' 'placeholder' 'Фамилия' %}
                            </div>
                            <div class="form-group mb-5">
                                {% crispy_field form.first_name 'class' 'form-control h-auto form-control-solid py-4 px-8' 'placeholder' 'Имя' %}
                            </div>
                            <div class="form-group mb-5">
                                {% crispy_field form.middle_name 'class' 'form-control h-auto form-control-solid py-4 px-8' 'placeholder' 'Отчество' %}
                            </div>
                            <div class="form-group mb-5">
                                {% crispy_field form.birthday 'class' 'form-control' 'type' 'date' 'placeholder' 'Дата рождения' %}
                            </div>
                            <div class="form-group mb-5">
                                {% crispy_field form.position 'class' 'form-control' 'type' 'date' 'placeholder' 'Должность' %}
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center mt-10">
                                <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Создать</button>
                            </div>
                        </form>
                    </div>
                    <!--end::Login Sign up form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
{% endblock %}