{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block content %}

    <div class="content-wrapper">
        <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h3 class="page-title">Создание карточки сотрудника</h3>
                    <div class="d-inline-block align-items-center">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="mdi mdi-home-outline"></i></a></li>
                                <li class="breadcrumb-item" aria-current="#">Сотрудники</li>
                                <li class="breadcrumb-item active" aria-current="#">Создание карточки</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

		<section class="content">
            <div class="row">
				<div class="col-md-12">
					  <div class="box">
                        <div class="box-header with-border">
                          <h4 class="box-title">Форма создания карточки</h4>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6 border-right border-1 border-info">
                                        <h4 class="box-title text-primary mb-0"><i class="ti-user me-15"></i> Начальные данные</h4>
                                        <hr class="my-15">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">Сотрудник</label>
                                                {% crispy_field form.employee 'class' 'form-select' %}
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Филиал</label>
                                                {% crispy_field form.branch_office 'class' 'form-select' %}
                                            </div>
                                        </div>
                                        <h6 class="box-title text-info mt-3">ФИО в родительном падеже</h6>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                  {% crispy_field form.r_last_name 'class' 'form-control' 'placeholder' 'р-фамилия' %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                  {% crispy_field form.r_first_name 'class' 'form-control' 'placeholder' 'р-имя' %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                  {% crispy_field form.r_middle_name 'class' 'form-control' 'placeholder' 'р-отчество' %}
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="box-title text-info mt-1">ФИО в дательном падеже</h6>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {% crispy_field form.d_last_name 'class' 'form-control' 'placeholder' 'д-фамилия' %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {% crispy_field form.d_first_name 'class' 'form-control' 'placeholder' 'д-имя' %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                   {% crispy_field form.d_middle_name 'class' 'form-control' 'placeholder' 'д-отчество' %}
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <div class="form-group">
                                                    <label class="form-label"> Фото </label>
                                                    {% crispy_field form.image 'type' 'file' %}
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-15">
                                        <h4 class="box-title text-primary mb-0"><i class="ti-user me-15"></i> Паспортные и другие данные</h4>
                                        <hr class="my-15">
                                        <h6 class="box-title text-info mt-3">Паспорт</h6>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                  {% crispy_field form.passport_serial 'class' 'form-control' 'placeholder' 'серия' %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                  {% crispy_field form.passport_number 'class' 'form-control' 'placeholder' 'номер' %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                  {% crispy_field form.passport_date_of_issue 'class' 'form-control' 'placeholder' 'дата выдачи' %}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                  {% crispy_field form.issuing_office_number 'class' 'form-control' 'placeholder' 'код подразделения' %}
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                  {% crispy_field form.passport_issuing 'class' 'form-control' 'placeholder' 'кем выдан' %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                  {% crispy_field form.passport_copy 'class' 'form-file' 'placeholder' 'копия паспорта' %}
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-4">
                                                <div class="form-group">
                                                  {% crispy_field form.sex 'class' 'form-select' 'placeholder' 'пол' %}
                                                </div>
                                            </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                      {% crispy_field form.marital_status 'class' 'form-select' 'placeholder' 'семейный статус' %}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                      {% crispy_field form.children 'class' 'form-control' 'placeholder' 'дети' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <h6 class="box-title text-info mt-3">Адрес</h6>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                      {% crispy_field form.main_address 'class' 'form-select' %}
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="box-title text-primary mb-0"><i class="ti-user me-15"></i> СТАЖ / РАБОТА </h4>
                                        <hr class="my-15">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">Дата приема на работу</label>
                                                {% crispy_field form.adopted_date 'class' 'form-control' %}
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Дата увольнения</label>
                                                {% crispy_field form.dismissed_date 'class' 'form-control' %}
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-6">
                                                    <label class="form-label">Библиотечный стаж (мес.)</label>
                                                    {% crispy_field form.bib_experience_before 'class' 'form-control' %}
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label">Общий стаж (мес.)</label>
                                                    {% crispy_field form.experience_before 'class' 'form-control' %}
                                                </div>
                                            </div>
                                            <h6 class="box-title text-info mt-3">ИНН / СНИЛС</h6>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                  {% crispy_field form.inn 'class' 'form-control' 'placeholder' 'ИНН' %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                  {% crispy_field form.snils 'class' 'form-control' 'placeholder' 'СНИЛС' %}
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-6 float-right">
                                                    <div class="form-group">
                                                        <div class="checkbox checkbox-success">
                                                            {% crispy_field form.digital_work_book 'id' 'checkbox1' 'class' 'form-control' 'type' 'checkbox' %}
                                                            <label for="checkbox1"> Электронная трудовая </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 float-right">
                                                    <div class="form-group">
                                                        <div class="checkbox checkbox-success">
                                                            {% crispy_field form.paper_work_book 'id' 'checkbox2' 'class' 'form-control' 'type' 'checkbox' %}
                                                            <label for="checkbox2"> Бумажная трудовая </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label"> Скан трудовой </label>
                                                    {% crispy_field form.paper_work_book_image 'type' 'file' %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <hr class="my-15">
                                                <h4 class="box-title text-primary mb-0"><i class="ti-user me-15"></i> ДОКУМЕНТЫ </h4>
                                                <hr class="my-15">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Заявление на работу</h6>
                                                            <div class="col-md-10">
                                                                {% crispy_field form.appliccaton_for_employment 'class' 'form-select' %}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Заявление на перевод</h6>
                                                            <div class="col-md-10">
                                                                {% crispy_field form.appliccaton_for_transfer 'class' 'form-select' %}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Приказ о приеме</h6>
                                                            <div class="col-md-10">
                                                                {% crispy_field form.order_for_employment 'class' 'form-select' %}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Трудовой договор</h6>
                                                            <div class="col-md-10">
                                                                {% crispy_field form.work_contract 'class' 'form-select' %}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Должностные инструкции</h6>
                                                            <div class="col-md-12">
                                                                {% crispy_field form.position_instruction 'class' 'form-select' %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <h6 class="box-title mt-2">Заявление на увольнение</h6>
                                                            <div class="col-md-10">
                                                                {% crispy_field form.appliccaton_for_dissmiss 'class' 'form-select' %}
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a href="#" class="btn btn-info btn-sm"><i class="fa fa-plus-square"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-3">
                                                        <div class="form-group">
                                                            <label class="form-label"> Сертификат COVID-19 </label>
                                                            {% crispy_field form.covid_certificate 'type' 'file' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-end">
                            <a href="{% url 'employees-card-list' %}" type="button" class="btn btn-warning me-1">
                              <i class="ti-trash"></i> Отмена
                            </a>
                            <button type="submit" class="btn btn-primary">
                              <i class="ti-save-alt"></i> Сохранить
                            </button>
                        </div>
                        </form>
					  </div>
				</div>
            </div>
		</section>

      </div>
    </div>

{% endblock %}