{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>EduAdmin - Dashboard</title>

	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css' %}">

	<!-- Style-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css' %}">

  </head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper">
	<div id="loader"></div>

{% include 'partials/main_header.html' %}
{% include 'partials/main_sidebar.html' %}
  <!-- Content Wrapper. Contains page content -->
{% block content %}

{% endblock %}<!-- /.content-wrapper -->

{% include 'partials/main_footer.html' %}

{% include 'partials/control_sidebar.html' %}

</div>
<!-- ./wrapper -->


	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js' %}"></script>
	<script src="{% static 'js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>

	<script src="{% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>
	<script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/jquery-steps-master/build/jquery.steps.js' %}"></script>
    <script src="{% static 'assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/sweetalert/sweetalert.min.js' %}"></script>

	<!-- EduAdmin App -->
	<script src="{% static 'js/template.js' %}"></script>
	<script src="{% static 'js/pages/dashboard.js' %}"></script>
	<script src="{% static 'js/pages/calendar.js' %}"></script>
    <script src="{% static 'js/pages/data-table.js' %}"></script>
    <script src="{% static 'js/pages/steps.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('#dt').DataTable( {
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Все"]],
                "paging":   true,
                "ordering": true,
                "info":     true,
                "search": true,
                "language": {
                    url: '{% static 'css/ru.json' %}'
                }
            } );
        } );
    </script>

</body>
</html>