{% extends 'base.html' %}
{% load static %}
{% url 'index' as index_url %}
<!--begin::Main-->
{% block layout %}
		{% include 'partials/_header-mobile.html' %}
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">

				{% include 'partials/_header.html' %}

				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					{% include 'partials/_aside.html' %}

					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                        {% if request.path == index_url %}
						{% include 'partials/_subheader/subheader-v6.html' %}
                        {% else %}
                        {% endif %}
                        <!--Content area here-->
                        {% block content %}
                        {% endblock %}
                        <!--end::Content-->

					</div>

					{% include 'partials/_footer.html' %}
				</div>

				<!--end::Wrapper-->
			</div>

			<!--end::Page-->
		</div>

		<!--end::Main-->
{% endblock %}